* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  min-height: 100vh;
  color: white;
  background: linear-gradient(#464657, #b1afa9, #2b2523a0);
}
